body {
    font-family: "Irish Grover";
    margin: 0px 
}

header {
    background-color: #A2CAFF
}

main {
    background-color: #7995CA;
    
}

footer {
    background-color: #35394B
}

.cat {
    width: 180px
}

.cat:hover {
    position: relative;
    left: 600px
}